@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');
/* main sryle */
body {
  position: relative;
  background: #fff none repeat scroll 0 0;
  color: black;
  font-family: 'IBM Plex Serif', serif;
  height: 100%;
}
html,
body {
  scroll-behavior: smooth;
  transition: all 1s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  padding: 0 16px;
}
.conteiner_moove {
  position: relative;
  transform: none;
  margin-left: 349px;
  padding-left: 16px;
  padding: 0 32px;
}
/* //================================================== */
/* HEADER */

/* header main style */
.header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid;
}

/* header lines-menu */
.lines {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  width: 25px;
  cursor: pointer;
}
.line_1 {
  display: block;
  width: 15px;
  height: 2px;
  background-color: black;
}
.line_2 {
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
}
.line_3 {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
}
.close_tag_button {
  display: none;
}
.close_tag_button img {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.display_none {
  display: none;
}
.display_block {
  display: block;
}
.display_none_4 {
  display: none;
}
.gap {
  gap: 0px;
}

/* header - more -menu */
.header__more-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  padding: 16px 0px 6px 16px;
  margin-right: 10px;
  cursor: pointer;
}
/* header time-block */
.hader__search-icon {
  width: 23px;
  height: 23px;
  margin-bottom: 6px;
  cursor: pointer;
}
.header__time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 16px 16px 6px 16px;
}
.icon-time {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* social - icon */
.header__social-icon {
  width: 24px;
  height: 25px;
  cursor: pointer;
}
/* header-search */
.header__search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 16px 6px 16px;
  cursor: pointer;
}
.input {
  width: 600px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  height: 100%;
  display: none;
  border-style: none none none;
  border-width: 0 0 0 1px;
  padding-top: 14px;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  outline: none;
}
.input__hide {
  display: block;
}

.header__search-input {
  border: none;
  width: 100px;
  font-size: 16px;
}

.header__search-active {
  width: 300px;
}

/* MEDIA */
/* 1600 1200 991 767 576 420 */
/* left menu */
.size_menu {
  height: 100% !important;
  width: 349px;
  min-height: 100vh !important;
  z-index: 10;
  background: #fff none repeat scroll 0 0;
  border-right: 1px solid #000;
  padding-bottom: 15%;
  position: absolute !important;
}
.wrapper_popular {
  font-size: 18px;
  gap: 30px;
  display: flex;
  position: absolute !important;
  margin-right: 10px;
  height: 100%;
  left: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 12px 10px 12px;
}
.close_tag {
  float: right;
  text-transform: uppercase;
  display: flex;
  align-self: flex-end;
  gap: 8px;
  margin-bottom: -19px;
  cursor: pointer;
}
.close_tag_img {
  padding-top: 2px;
}
.close_tag_img img {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
}
.title_popular {
  color: aliceblue;
  background-color: black;
  text-align: center;
}
.selector {
  max-width: 305px !important;
  padding: 5px 0;
  box-sizing: content-box;
}
.selector_li {
  width: 86%;
  list-style: none;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
  height: 36px;
  margin-left: 5px;
}
.border_d {
  border-bottom: 1px dotted;
}
.backGround_1 {
  width: 100%;
}
.without_style_a {
  text-decoration: none;
}
/* ================================================================= */
/* MEDIA */

/* //=============================================================== */
/* CONTENT*/

/* section 1 */
.title___menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  padding: 32px 0 0 0;
  position: relative;
}
.main_title {
  font-size: 78px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  text-decoration: none;
  color: #000;
}
.linear {
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-direction: row;
}
.menu_dot {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 5px;
  height: 5px;
  z-index: 3;
}
.menu_list {
  display: flex;
  align-items: center;
  gap: 6px;
  list-style-type: none;
}
.linear_bold {
  height: 4px;
  width: 100%;
  background-color: black;
}
.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.column_menu {
  display: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 17px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  z-index: 3;
}

.open_menu {
  box-sizing: border-box;
  text-align: center;
  width: 180px;
  height: 36px;
  border: 0.5px solid #000;
  text-decoration: none;
  color: #000;
  padding: 3px 3px 3px 3px;
}
.secondary_menu {
  display: none;
}
.inner-wrapper__ {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 0px;
  margin-top: -3px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}
/* open_menu_media_991 */
.menu_button {
  display: none;
  flex-direction: row;
  font-weight: 600;
  gap: 16px;
  align-items: center;
  align-self: end;
  cursor: pointer;
}
.lines_menu {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  width: 20px;
}
.line_menu {
  display: block;
  height: 2px;
  width: 20px;
  background-color: black;
}
.menu_button p:hover {
  color: #dd4b39;
}
.width {
  width: 100%;
}
.open_menu_m991 {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-between;
  cursor: pointer;
}

.open_menu_title {
  list-style: none;
}
.menu_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  list-style: none;
  border-bottom: 1px dotted #000000;
}
.menu_title_slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  height: 28px;
  list-style: none;
  border-bottom: 1px dotted #000000;
}
.open_menu_title a:hover {
  color: #fd7e1f;
}
.open_menu_title span:hover {
  color: #fd7e1f;
}
.line_menu :hover {
  background-color: #fd7e1f;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}

/* section 2 */
.slider {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  padding: 22px 0px 22px 0px;
}
.item {
  min-width: 0;
  display: flex !important;
  /* order: -1; */
  height: 80px;
  flex-direction: row;
  gap: 17px;
  padding: 0 6px 0 6px;
  background-color: rgba(0, 102, 255, 0);
}
.blocks__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  line-height: 1.2;
  font-size: 15px;
  padding-bottom: 2px;
}
.blocks__text_span {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.blocks__text_span_slider {
  gap: 6px;
}

/* ====================================================== */

/* section 3 */
.big_sec__3 {
  width: auto;
  display: flex !important;
  flex-direction: row;
  padding: 22px 0 0 0;
}
/* left side */
.left-side {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  flex-direction: column;
  padding-right: 16px;
}
.tile_2 {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
}
.info_about_autor {
  display: flex;
  gap: 16px;
  padding: 22px 16px 41px 22px;
}
.autor_block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-right: 38px;
  border-right: 1px solid #eee;
}
.text_about_autor {
  display: flex;
  align-items: center;
  width: 400px;
  font-size: 16px;
  padding: 0 42px 0 120px;
}
.img_in_one {
  margin-left: -15px;
}
.add_padding_bottom {
  padding-bottom: 30px;
}
.main_title_2 {
  font-size: 50px;
  padding-bottom: 50px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.center {
  text-align: center;
  border-top: 1px solid #eee;
}
.block__2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 16px;
  padding: 0px 4px 32px 4px;
}
.block_images_medium {
  min-width: 165px;
  height: 132.98px;
}
.blocks__text_2 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
}
.blocks__text_a {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
/* numbers array */
.numbers_pages {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  padding-top: 30px;
  gap: 16px;
  list-style: none;
  text-align: center;
  border-top: 1px solid #eee;
}
.arrow {
  padding-right: 12px;
  padding-top: 10px;
}
.number_page {
  font-size: 22px;
}

/* right side */

.article_2 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  border-left: 1px solid #eee;
  margin-right: 16px;
}
.blocks_bigger {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 0 5px;
  width: 100%;
}
.widjet__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  padding-right: -12px;
  text-transform: uppercase;
  white-space: nowrap;
}
.span_dot {
  display: block;
  background-color: rgb(0, 0, 0);
  min-width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
}
.line_width {
  width: 100%;
}
.span_line {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: end;
  height: 1px;
}
.numero {
  font-size: 30px;
  padding: 0 12px 0 12px;
  font-weight: 700;
}
.strong {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.block_images {
  width: 122px;
  height: 106px;
}
.block__1 {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
  padding: 0 0 13px 0;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.border_none {
  border: none;
}
.span_line_1 {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 18vw;
  height: 1px;
}
/* input */
.input_area {
  border: 1px solid #333;
  font-size: 14px;
  width: 70%;
  float: left;
  height: 50px;
  padding: 10px;
}
.input_button {
  background: #333 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  float: right;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 10px;
  text-transform: uppercase;
  width: 30%;
  height: 50px;
}
/* block with one image */
.backGround {
  width: 100%;
}
.blocks_with_img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 0 22px 0 22px;
  font-weight: bold;
}
/* other blocks */
.block_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 16px 16px 0 12px;
  border-top: 1px solid #eee;
}
.span_line_2 {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 18vw;
  height: 1px;
}
/* tags cloud */
.tags_cloud {
  box-sizing: content-box;
  display: inline-block;
  font-weight: 600;
  margin-left: 12px;
  border-radius: 8%;
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 12px 12px 12px 12px;
  text-decoration: none;
  background-color: #eee;
  color: #000;
  transition: all 0.5s ease;
}
/* hover */
.themes a:hover {
  background-color: #fd7e1f;
}
.blocks__text a:hover {
  color: #fd7e1f;
}
.blocks__text_2 a:hover {
  color: #fd7e1f;
}
.blocks__text_a a:hover {
  color: #fd7e1f;
}
.tile_2 a:hover {
  color: #fd7e1f;
}
.list_id a:hover {
  color: #fd7e1f;
}
.par_footer a:hover {
  color: #fd7e1f;
}
/* info-block */
.info-blocks {
  display: flex;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  gap: 10px;
  padding: 36px 6px 16px 16px;
  font-weight: 600;
}
.media_block {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.comments {
  display: flex;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;
  padding: 30px 0px 0px 0px;
}
.comments_1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;
  padding: 30px 0px 0px 0px;
  border-bottom: 1px solid #eee;
}
.info-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.numero_1 {
  font-size: 30px;
  font-weight: 700;
}
.tiny_img_size {
  width: 91.88px;
  height: 79.81px;
}
.block_list {
  padding: 30px 30px 12px 0px;
  list-style: none;
  display: inline-block;
}
.list_id a {
  padding-right: 6px;
  padding-bottom: 16px;
}
.info_images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 30px;
}
/* footer */
.center_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.title_footer {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  padding: 30px 0 30px 0;
}
.icons_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 30px 0 50px 0;
}
/* .icons_footer a:hover {
  background-color: #fd7e1f;
} */
.romb {
  border: 1px solid #333;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 30px;
  height: 30px;
  display: block;
}
.romb_icon {
  transform: rotate(-45deg);
  width: 18px;
  padding-top: 10px;
  padding-left: 5px;
  fill: #000;
}
.romb_icon_1 {
  transform: rotate(-45deg);
  width: 18px;
  padding-top: 10px;
  padding-left: 5px;
  fill: #000;
  display: none;
}
.numbers_pages li:hover {
  color: #dd4b39;
  font-weight: 800;
}
.center_footer a:hover {
  color: #dd4b39;
}
#romb_1:hover {
  background: #3b5998 none repeat scroll 0 0;
  border-color: #3b5998;
}
#romb_2:hover {
  background: #55acee none repeat scroll 0 0;
  border-color: #55acee;
}
#romb_3:hover {
  background: #dd4b39 none repeat scroll 0 0;
  border-color: #dd4b39;
}
#romb_4:hover {
  background: #cc2127 none repeat scroll 0 0;
  border-color: #cc2127;
}
.icons_footer .romb:hover img:first-child {
  display: none;
}
.icons_footer .romb:hover img:last-child {
  display: block;
}
.icons_footer .romb img:first-child {
  display: block;
}
.icons_footer .romb img:last-child {
  display: none;
}
.decor_none {
  text-decoration: none;
  color: #000;
}
/* Go to top */
.gototop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: all 0.5s ease;
}
.gototop a {
  background: rgba(0, 0, 0, 0) url(./images/arrow-up_icon-icons.com_72374.svg)
    no-repeat scroll center top;
  background-size: 30px 30px;
  display: table;
  font-size: 12px;
  height: 40px;
  padding-top: 30px;
  text-align: center;
  width: 40px;
  transition-duration: 0.2s;
  color: #000000;
  text-decoration: none;
}
.gototop a:hover {
  padding-top: 33px;
  color: #fd7e1f;
}
.display_none_icon {
  display: none;
}
.display_none_menu {
  display: none;
}
/* MEDIA */
/* 1600 1200 991 767 576 420 */
@media (min-width: 1200px) {
  .close_tag {
    display: none;
  }
}

@media (max-width: 1200px) {
  .conteiner_moove {
      position: relative;
      max-width: 1300px;
      margin: 0 auto;
      margin-left: 0 px;
      height: 100%;
      padding: 0 16px;
    }
  /* header */
  .header__time {
    display: none;
  }
  .header__more-menu {
    padding-right: 30px;
    border-right: 1px solid #000;
  }
  /* left side */
  .big_sec__3 {
    gap: 0;
  }
  .left-side {
    /* width: 707px; */
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .left-side figure > img {
    width: 90%;
    /* transition: all 1.5s ease; */
    margin: auto;
  }
  /* right side */
  .block__1 {
    gap: 0 !important;
  }
  .numero {
    padding: 0 6px 0 6px;
  }
}
@media (min-width: 991px) {
  .open_menu_m991 {
    display: none;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 991px;
  }
  .conteiner_moove {
    position: relative;
    max-width: 991px;
    margin: 0 auto;
    margin-left: 0 px;
    height: 100%;
    padding: 0 16px;
  }
  /* header */
  .menu {
    display: none;
  }
  .main_title {
    font-size: 64px;
    transition: all 1s ease;
  }
  .menu_button {
    display: flex;
  }
  /* .conteiner_moove {
    margin-left: 25%;
  } */
  /* left side */
  .big_sec__3 {
    box-sizing: border-box;
    gap: 0;
  }
  .tile_2 {
    font-size: 28px;
    text-align: center;
  }
  .info_about_autor {
    display: block;
    text-align: center;
    gap: 16px;
    width: 100%;
  }
  .tile_2 {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
  }
  .autor_block {
    padding: 0 0 0 0;
  }
  .text_about_autor {
    width: 100%;
    font-size: 16px;
    padding: 12px 0 12px 0;
    /* padding: 0 42px 0 120px; */
  }
  
  /* right side */
  .article_2 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .block__1 img {
    display: none;
  }
  .blocks__text {
    text-align: center;
    width: 100%;
  }
  .media_block {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
    padding: 12px 6px 16px 16px;
    font-weight: 600;
  }
  .info-block {
    width: 50%;
  }
  .tags_cloud {
    margin-right: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 12px 12px 12px 12px;
  }
  .img_coments {
    width: 50%;

  }
}
@media (max-width: 767px) {
  .main_title {
    font-size: 54px;
    transition: all 1s ease;
  }
  .big_sec__3 {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    padding: 22px 16px 16px 16px;
  }
  .left-side {
    max-width: 100%;
  }
  .block__2 {
    flex-direction: column;
    font-size: 24px;
  }
  .block_images_medium {
    width: 100%;
    height: 100%;
  }
  .article_2 {
    max-width: 100% !important;
  }
  .widjet__title{
    padding-top: 16px;
  }
  .blocks__text{
    text-align: left;
    padding-left: 16px;
  }
  .block__1  {
    height: auto;
  }
  .info-blocks {
    width: 100%;
    display: block;

    margin: auto;
  }
  .media_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 6px 12px 6px;
    font-weight: 600;
  }
  .info-block {
    flex: 0 0 50%;
    width: 50%;
  }
  .tags_cloud {
    margin-right: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 12px 12px 12px 12px;
  }
}
@media (max-width: 576px) {
  .main_title {
    font-size: 44px;
    transition: all 1s ease;
  }
  body {
    font-size: 10px;
  }
}
@media (max-width: 420px) {
  .container {
    font-size: 10px;
    max-width: 420px;
  }
  .main_title {
    font-size: 26px;
  }
  p .tile_2 {
    font-size: 18px;
  }
  .main_title_2 {
    font-size: 22px;
  }
  .blocks__text_a {
    font-size: 12px;
  }
  .article_2 {
    border: none;
  } 
  .big_sec__3 {
    padding: 4px 4px 4px 4px ;
  }
  .left-side {
    padding-right: 0px;
  }
  .strong {
    font-size: 16px;
  }
  .info-blocks {
    width: 100%;
    display: block;
    margin: auto;
    padding: 2px 6px 6px 6px;
  }
  .media_block {
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-weight: 600;
  }
  .info-block {
   width: 100%;
  }
  .info_images {
    gap: 3px;
  }
  .block_list  {
    font-size: 14px;
  }
  .tags_cloud {
    font-weight: 600;
    border-radius: 8%;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    background-color: #eee;
    color: #000;
    transition: all 0.5s ease;
  }
  .hader__search-icon {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    cursor: pointer;
}
.header__search-input {
  border: none;
  width: 100px;
  font-size: 12px;
}
  /* .wrapper_popular {
     font-size: 18px;
     display: flex;
     gap: 30px;
     width: 100%;
     min-width: 200px;
     margin-right: 10px;
     flex-direction: column;
     box-sizing: border-box;
     padding: 10px 12px 10px 12px;
   } */
}
